- @sitename


!!! 5
%html{html_attrs}
  %head
    %title= @title
    // Buggy on the iPhone4
    // %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
    //%meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    //%meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "keywords", :content => "bar,restaurant,houston,texas,rice village, brunch, wine, cocktail, martini"}
    %link{:href => "stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/jquery.color.js"}
    //%script{:type => "text/javascript", :src => "javascripts/jquery-1.5.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/menu-control.js"}
    //%script{:type => "text/javascript", :src => "javascripts/iscroll.js"}
    %script{:src => "javascripts/prototype.js", :type => "text/javascript"}
    %script{:src => "javascripts/scriptaculous.js?load=effects,builder", :type => "text/javascript"}
    %script{:src => "javascripts/lightbox.js", :type => "text/javascript"}
    %link{:href => "stylesheets/lightbox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    //%link{:href => "stylesheets/queryLoader.css", :rel => "stylesheet", :type => "text/css"}/
    //%script{:src => "javascripts/queryLoader.js", :type => "text/javascript"}
    //%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js", :type => "text/javascript"}
    


  %body{:onorientationchange =>"ipadFunc();"}
  //.preloader
  //  .preloader-box
  //    %img{:height => "40", :src => "/images/75.gif", :width => "40"}
  .bg2
  .bg1
  .left-side-bar-bg
  .left-side-bar
    .logo
      %img.homeLogoBtn{:height => "138", :src => "/images/logo.png", :width => "230", :border => "0", :class => "icon", :href => "#"}
      //%p 5510 MORNINGSIDE, No. 120
      //%p HOUSTON, TEXAS 77005
      //%p.phone-num 713-590-0610
      //%p INFO@FELIX55.COM
      //.social-icon
      //  %a{:href => "http://www.facebook.com/felix55houston", :target => "_blank"}
      //    %img{:height => "30", :src => "/images/facebook_logo.png", :width => "30", :border => "0", :class => "icon"}
      //  %a{:href => "http://twitter.com/Felix55houston", :target => "_blank"}
      //    %img{:height => "30", :src => "/images/twitter_logo.png", :width => "30", :border => "0", :class => "icon"}
  .menu-container
    %ul
      %li
        %a{:href => "#", :id => "main-1-link"} HOME
        .menu-hl
      %li
        %a{:href => "#", :id => "main-2-link"} ABOUT
        .menu-hl
      %li
        %a{:href => "#", :id => "main-3-link"} SERVICES
        .menu-hl
      %li
        %a{:href => "#", :id => "main-6-link"} TESTIMONIAL
        .menu-hl
      %li
        %a{:href => "#", :id => "main-4-link"} GALLERY
        .menu-hl
      %li
        %a{:href => "#", :id => "main-5-link"} CONTACT
        .menu-hl
  #page1
  #page2
    .content-border
      .content
        .center-content
          .page-title 
            %img{:alt => "", :src => "images/trainers.png", :width => "382", :height => "91"}
          %br
          %h1 Shammy
          %img{:alt => "", :src => "images/profile_1.jpg", :width => "145", :height => "200", :style => "float:left;margin-left: 25px; margin-right: 20px"} 
          %p
            Welcome, I am 
            %span.red-text Shammy
            , head trainer and owner of 
            %span.red-text Chase The Burn. 
            Chase The Burn 
            personal training studio was created from my admiration of the human body and the ability that we have to shape, mold and sculpt our bodies like a beautiful piece of art.
          %p 
            I am an 
            %span.red-text  American College of Sports Medicine (ACSM)
            certified personal trainer and a Law Enforcement fitness specialist. As a collegiate track and field athlete I learned the importance of combining proper nutrition with exercise to get guaranteed results. I worked six years as a federal law enforcement agent. During that time I was the field office physical fitness coordinator. It was my job to ensure that the agents were fit for duty. I apply a lot of the principles taught to me by athletic coaches and the principles used to keep agents fit to personal training.
          %p
            I specialize in functional fitness. My personal motto is 
            %span.red-text RELENTLESS PURSUIT OF MY GOALS. 
            My goal is to ensure that you have a body that is capable of meeting the demands of the life you are currently living and the life you’ve always wanted to live. Together we will create a fitness and nutrition program that is unique to your goals and lifestyle. We will break the cycle of fad diets, quick fixes, and unwanted weight gain.
          %h2 Connect with me:
          %a{:href => "http://www.facebook.com/pages/Chase-The-Burn", :target=>"_blank", :style=>"margin-left:30px;"}
            %img{:height => "28", :src => "/images/icon/facebook.png", :width => "28"}
          %a{:href => "http://twitter.com/#!/@chaseburn", :target=>"_blank"}
            %img{:height => "28", :src => "/images/icon/twitter.png", :width => "28"}
          %a{:href => "http://www.youtube.com/chasetheburn", :target=>"_blank"}
            %img{:height => "28", :src => "/images/icon/youtube.png", :width => "28"}
  #page3
    .content-border
      .content
        .center-content
          %br
          %h1 Serivces
          %h2 Personal Training
          %p Work one-on-one with a trainer in an environment that thrives on trust and breeds results. All private training sessions begin with a fitness assessment. Together you and your trainer will create a personalized nutrition and fitness program based on your goals, personality and lifestyle. Each session will build on the last. Your trainer will track your progress to ensure that you will reach your goal. 
          %p Invite a friend and make it a Group Session. 
          %h2 TRX Suspension Training
          %p Born in the U.S. Navy Seals, TRX suspension training is a method of leveraged bodyweight exercise. TRX suspension training allows you to safely perform hundreds of exercises that build power, strength, flexibility, mobility, metabolic conditioning and prevents injuries all at the intensity you choose.
          %h2 Bootcamps/Fitness Challenges
          %p Cross training at it’s best. Build your cardio and muscular endurance with a mix of high intensity interval training, kickboxing, weight lifting, suspension training and much more. A new fitness challenge begins at the start of every month. Join us every Monday, Wednesday and Friday of each month and watch the unwanted pounds shed off. 
          %ul{:style => "color: white;"}
            %li Time: 6-7am or 6-7pm
            %li $150 per month 
            %li Include: Daily recipes, virtual workouts, progress tracker, 24hr access to a personal trainer. 
          %br
          %h2 Virtual Training
          %p Chase The Burn wherever you are. Can’t make it to the studio. We will bring the studio to you. Subscribe to have actual training sessions emailed to you. Virtual training sessions are performed by a personal trainer complete with interactions and form corrections. Sessions can be done anywhere with little to no equipment. 
          %h2 In Home Training
          %p If you live in the Houston, Texas area and would like to train in the comfort of your home or office we can come to you. You provide the space and we will bring all the equipment needed. 
  #page4
    .content-border
      .content
        .center-content
          %br
          %h1 Gallery
          .gallery-container
            %a{:href => "/images/gallery/1.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/1_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/2.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/2_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/3.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/3_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/4.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/4_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/5.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/5_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/6.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/6_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/7.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/7_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/8.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/8_small.jpg", :width => "100"}
            %a{:href => "/images/gallery/9.jpg", :rel => "lightbox[wedding]"}
              %img{:height => "200", :src => "/images/gallery/9_small.jpg", :width => "100"}
          %br
  #page5
    .content-border
      .content
        .center-content
          %br
          %h1 Contact
          %br
          %h2 Phone
          %p (713) 899 7340

          %h2 Email
          %p shammy@chasetheburn.com

          %h2 Address
          %p 2715 Bissonnet street, suite 303 | Houston, TX 77005
          %br
          %h2 Contact Form
          .contact-form
            %iframe{:allowtransparency => "true", :frameborder => "0", :height => "400", :scrolling => "no", :src => "https://media3creative.wufoo.com/embed/s7p1a7/", :style => "width:90%;border:none;margin-left:20px;"}
          %br
  #page3
    .content-border
      .content
        .center-content
          %br
          %h1 Serivces
          %h2 Personal Training
          %p Work one-on-one with a trainer in an environment that thrives on trust and breeds results. All private training sessions begin with a fitness assessment. Together you and your trainer will create a personalized nutrition and fitness program based on your goals, personality and lifestyle. Each session will build on the last. Your trainer will track your progress to ensure that you will reach your goal. 
          %p Invite a friend and make it a Group Session. 
          %h2 TRX Suspension Training
          %p Born in the U.S. Navy Seals, TRX suspension training is a method of leveraged bodyweight exercise. TRX suspension training allows you to safely perform hundreds of exercises that build power, strength, flexibility, mobility, metabolic conditioning and prevents injuries all at the intensity you choose.
          %h2 Bootcamps/Fitness Challenges
          %p Cross training at it’s best. Build your cardio and muscular endurance with a mix of high intensity interval training, kickboxing, weight lifting, suspension training and much more. A new fitness challenge begins at the start of every month. Join us every Monday, Wednesday and Friday of each month and watch the unwanted pounds shed off. 
          %ul{:style => "color: white;"}
            %li Time: 6-7am or 6-7pm
            %li $150 per month 
            %li Include: Daily recipes, virtual workouts, progress tracker, 24hr access to a personal trainer. 
          %br
          %h2 Virtual Training
          %p Chase The Burn wherever you are. Can’t make it to the studio. We will bring the studio to you. Subscribe to have actual training sessions emailed to you. Virtual training sessions are performed by a personal trainer complete with interactions and form corrections. Sessions can be done anywhere with little to no equipment. 
          %h2 In Home Training
          %p If you live in the Houston, Texas area and would like to train in the comfort of your home or office we can come to you. You provide the space and we will bring all the equipment needed.
  #page6
    .content-border
      .content
        .center-content
          %br
          %h1 Testimonials
          %h2  by J.P.
          %p Shammy has pushed me much harder than I was pushing myself.  She forces me to work out, even when I didn't really feel like it, and I'm very glad.  I'm much healthier and in much better shape because of Chase the Burn!
          %h2 by Jason T.
          %p I signed up for Chase the Burn's boot camp to be supportive of my fiance who is trying to lose some weight before our wedding.  Given I've been weight training 4-5 days per week over the last 14 years I thought I'd be prepared for anything that was thrown at me.  Boy was I wrong!  Since working out at Chase the Burn, I have significantly improved my cardiovascular and muscular endurance while strengthening my core.  I'm six weeks in and the improvement is very noticeable."
          %h2 by April L.
          %p I am not a big fan of working out and have tried many trainers over the past several years, but working out at Chase the Burn has been a great experience.  Shammy and Chris keep the workouts interesting as we're always doing different exercises with an intense focus on my goal (fitting into my wedding dress!).  I've also discovered that I LOVE boxing training, which is a great stress reliever in addition to being a serious workout."
          %h2 by Cecilia Lee
          %p I haven't felt this good physically since my teen years...I see a change in my body, diet and overall attitude! I have a long way to go to achieve my weightloss goal, but I will not achieve it without Chase the Burn. Thanks Shammy for giving me my confidence back and not being afraid to step out of the box...I wanted to become a runner and thanks to you, I am running 3 miles without stopping!!!
          %h2 by Bianca
          %p "Shammy is the best personal trainer I have had. She took the time to understand what I wanted and after the first couple of sessions I could already see results."
  .footer-link
    %a{:href => "http://www.facebook.com/pages/Chase-The-Burn", :target=>"_blank"}
      %img{:height => "28", :src => "/images/icon/facebook.png", :width => "28"}
    %a{:href => "http://twitter.com/#!/@chaseburn", :target=>"_blank"}
      %img{:height => "28", :src => "/images/icon/twitter.png", :width => "28"}
    %a{:href => "http://www.youtube.com/chasetheburn", :target=>"_blank"}
      %img{:height => "28", :src => "/images/icon/youtube.png", :width => "28"}
  .footer
    Copyright &copy Chase the Burn, 2011. All Rights Reserved. 
    %a.ourLink{:href => "http://media3creative.com/", :title => "Media 3 Creative"} POWERED BY | Media 3 Creative     
  .copyright-box 
    //%a.ourLink{:href => "http://media3creative.com/forms/q7p5x7/", :title => "Media 3 Creative"} POWERED BY | Media 3 Creative     
  .photo-preload
    %img{:height => "40", :src => "/images/bg_1.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_2.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_1_3.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_4.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/wine_bottles.jpg", :width => "40"}  
    %img{:height => "40", :src => "/images/cocktails.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/reservation.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_5.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/happy_hour.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_6.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/contact.jpg", :width => "40"}
    %img{:height => "40", :src => "/images/bg_3.jpg", :width => "40"}              
    %img{:height => "40", :src => "/images/bg_2.jpg", :width => "40"}
    
  :javascript
    QueryLoader.selectorPreload = "body";
    QueryLoader.init();

    

