@font-face {
  font-family: Helvetica_ultralight;
  src: url(/fonts/helvetica_ultralight.ttf) format("truetype");
}

@font-face {
  font-family: Helvetica_light;
  src: url(/fonts/helvetica_light.ttf) format("truetype");
}

.preloader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.preloader-box {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 25%;
  height: 200px;
  width: 200px;
}

.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left-side-bar-bg {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/images/side_bar_bg.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 562px;
}

.left-side-bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 100%;
  min-height: 750px;
}

.logo {
  position: absolute;
  height: 138px;
  width: 230px;
}

.footer {
  position: fixed;
  background-image: url("/images/trans_bg_black.png");
  border: 1px solid #696969;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: white;
  font-size: 12px;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}

.menu-container {
  position: absolute;
  top: 105px;
  left: 59px;
  height: 211px;
  width: 200px;
  font-family: Helvetica_light;
  font-weight: 20;
}

.menu-container ul {
  position: absolute;
  list-style-type: none;
  letter-spacing: 0.15em;
  line-height: 35px;
  padding-left: 10px;
}

.menu-container li {
  margin-top: 5px;
}

.menu-container ul a {
  opacity: 0;
  font-size: 13px;
  text-align: left;
  width: 200px;
  color: white;
  text-decoration: none;
  line-height: 20px;
}

.menu-hl {
  position: absolute;
  left: 20px;
  margin-top: 0px;
  background-color: #594a42;
  height: 2px;
  width: 0px;
}

.red-line {
  display: inline;
  position: relative;
  float: left;
  height: 2px;
  width: 7px;
  margin-top: 7px;
  margin-right: 5px;
  background-color: #931616;
}

.sub-menu-box {
  float: left;
}

.sub-menu {
  display: none;
  list-style-type: none;
  position: relative;
  line-height: 20px;
  font-size: 12px;
}

.copyright-box {
  position: fixed;
  text-align: left;
  height: 40px;
  width: 400px;
  bottom: 0px;
  right: 0px;
  text-align: left;
  margin-left: 80px;
  font-size: 10px;
}

.ourLink {
  color: white;
  font-size: 12px;
  margin-right: 30px;
}

.ourlink :hover {
  color: #696969;
}

.phone-num {
  color: white;
  font-size: 14px;
}

#main-1-link, #main-2-link, #main-3-link, #main-4-link, #main-5-link, #main-6-link, #main-7-link, #main-8-link {
  display: block;
  height: 22px;
  width: 180px;
  padding-top: 2px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

body {
  background-color: black;
}

h1 {
  font-family: Helvetica_ultralight;
  font-size: 36px;
  color: red;
  margin-left: 30px;
  opacity: 1;
  font-weight: 100;
  border-bottom-color: red;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-right: 20px;
  margin-top: 0px;
}

h2 {
  font-family: Helvetica_light;
  font-size: 13px;
  color: white;
  margin: 0px;
  margin-left: 30px;
  opacity: 1;
}

p {
  color: white;
  opacity: 1;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 5px;
  letter-spacing: 0.05em;
  font-family: Helvetica_light;
  font-size: 13px;
}

td {
  padding-left: 20px;
}

li {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: Helvetica_light;
}

.social-icon {
  position: relative;
  margin-left: 20px;
}

.photo-preload {
  position: fixed;
  top: 0px;
  left: -2000px;
  height: 1px;
  width: 1px;
}

#homePage, #venuePage, #galleryPage, #reservationPage, #calendarPage, #happyHourPage, #menuPage-1, #menuPage-2, #menuPage-3, #menuPage-4, #menuPage-5, #menuPage-6, #contactPage-1, #contactPage-2 {
  position: absolute;
  padding: 10px;
  z-index: 1;
  display: block;
  top: 270px;
  left: 0px;
  padding: 20px;
  width: 100%;
  height: auto;
  font-size: 12px;
}

.scroller {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  border: 1px solid #aaaaaa;
  border-style: solid;
  border-width: 0.7px;
  border-color: #383733;
  background: rgba(255, 255, 255, 0.7);
  height: auto;
}

.content-border {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
}

.page-title {
  color: white;
  font-family: Helvetica_light;
  font-size: 60px;
  letter-spacing: 0.1em;
  width: 300px;
  height: 100px;
  position: absolute;
  top: -23px;
  margin-left: 25px;
}

.content {
  padding: 0px;
  margin-bottom: 15px;
  z-index: 20;
  width: 100%;
  height: auto;
  background-image: url("/images/trans_bg_black.png");
}
.content .center-content {
  width: 850px;
  margin: auto;
}

.close-content {
  z-index: 2;
  height: 25px;
  background-color: #931616;
  float: right;
  color: white;
  font-family: Helvetica_light;
  font-size: 15px;
  width: 75px;
  text-align: center;
  padding-top: 3px;
  margin-top: 0px;
}

.close-content:hover {
  background-color: white;
  color: #931616;
}

.gallery-container {
  text-align: center;
  width: 500px;
}

.icon {
  border: 0 solid white;
}

.normal-list {
  color: #cccccc;
  font-family: Helvetica_light;
  line-height: 25px;
}

.content-text {
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  -moz-border-radius: 5px 25px 5px 25px;
  border-radius: 5px 25px 5px 25px;
  padding: 20px;
  padding-bottom: 40px;
}

.download {
  color: white;
  font-family: Helvetica_light;
  font-size: 15px;
  margin: 20px;
}
